<div class="col-xs-12">
    <uib-alert  type="success" >停车场管理：包括停车场的增删改查</uib-alert>
</div>

    <div class="col-xs-12">
        <rd-widget >
            <rd-widget-header icon="fa-tasks" title="停车场查询">
                <button class="btn btn-sm btn-info" style="width: 25%;margin-left: -25%" ng-click="search()">查询</button>

                <button class="btn btn-sm btn-info" style="width:25%;margin-left: 40%;background-color: transparent;border-color: #d9edf7;color: black;" ng-click="changeView()">{{listMessage}}</button>
            </rd-widget-header>
            <!--<rd-widget-body classes="medium no-padding">-->
                <div class="table-responsive" ng-show="listshow">
                    <table st-table="rowCollection" class="table">
                            <thead>
                            <tr>
                                <th colspan="2">
                                    <input st-search="id" placeholder="按ID查询" class="input-sm form-control" type="search"/>
                                </th>
                                <th colspan="2">
                                    <input st-search="hourcharge" placeholder="按小时收费查询" class="input-sm form-control" type="search"/>
                                </th>
                                <th colspan="6">
                                    <input st-search placeholder="全局查询" class="input-sm form-control" type="search"/>
                                </th>
                            </tr>
                            <tr>
                                <th st-sort = "id">停车场ID</th>
                                <th st-sort = "name">名称</th>
                                <th st-sort = "address">地址</th>
                                <th st-sort = "hourcharge">收费</th>
                                <!--<th st-sort = "longitude">经度</th>-->
                                <!--<th st-sort = "latitude">纬度</th>-->
                                <th st-sort = "spacenum">停车位个数</th>
                                <!--<th st-sort = "xpos">停车位行数</th>-->
                                <!--<th st-sort =  "ypos">停车位列数</th>-->

                                <th>入口管理</th>
                                <th>停车位管理</th>
                                <th>生成二维码</th>
                                <th>编辑</th>
                                <th>删除</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in rowCollection">
                                <td>{{row.id}}</td>
                                <td>{{row.name}}</td>
                                <td>{{row.address}}</td>
                                <td>{{row.hourcharge}}元/小时</td>
                                <!--<td>{{row.longitude}}</td>-->
                                <!--<td>{{row.latitude}}</td>-->
                                <td>{{row.spacenum}}</td>
                                <!--<td>{{row.xpos}}</td>-->
                                <!--<td>{{row.ypos}}</td>-->

                                <td><img src="../img/entry.png" ng-click="createEntry(row)" style="height:10%;margin-left: 25%"></td>
                                <!--<td> <button ng-click="createEntry(row)"></button></td>-->
                                <td><img src="../img/space.jpeg" ng-click="manage(row)" style="height:13%;margin-left: 20%"></td>
                                <!--<td><button ng-click="manage(row)"></button> </td>-->
                                <!--<td> <button ng-click="lotCode(row)"></button></td>-->
                                <td><img src="../img/qrcode.jpg" ng-click="lotCode(row)" style="height:5%;margin-left: 30%"></td>
                                <td><img src="../img/edit.png" ng-click="editLot(row)" style="height:8%"></td>
                                <!--<td><button ng-click="editLot(row)"></button></td>-->
                                <td><span tooltip="删除停车场!" class="text-danger" style="font-size: 120%" ng-click="deleteLot(row)"><i class="fa fa-warning"></i></span></td>

                            </tr>
                            </tbody>
                        </table>
                </div>
            <!--</rd-widget-body>-->
        </rd-widget>
    </div>

    <div class="col-lg-12">
        <rd-widget>
            <rd-widget-header icon="fa-plus" title="停车场新增">
                <a href="#addlot" style="margin-left: -17%">添加</a>
                <!--<button class="btn btn-sm btn-info" ng-click="">添加</button>-->
            </rd-widget-header>
            <!--<rd-widget-body classes="medium no-padding">-->
                <!--&lt;!&ndash;<div >&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;这段代码可以显示地图，但是太小了&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;<button ng-click="newMyMap()">显示地图</button>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;<div ng-show="showMap">&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<div id="allmap" style="height: 200px;width: 400px"></div>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->


                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</rd-widget-body>-->
        </rd-widget>
    </div>

    <div class="col-lg-12">
        <rd-widget>
            <rd-widget-header icon="fa-tasks" title="停车场修改">
                <a href="#editLot" style="margin-left: -17%">修改</a>
                <!--<button class="btn btn-sm btn-info" ng-click="">修改</button>-->
            </rd-widget-header>
            <!--<rd-widget-body classes="medium no-padding">-->
                <!--<div class="message">-->
                    <!--这部分提供对停车场的修改、删除功能-->
                    <!--&lt;!&ndash;<span class="error">尚未实现!</span>&ndash;&gt;-->
                <!--</div>-->
                <!--&lt;!&ndash;<div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<p>输入中心获取图片</p>&ndash;&gt;-->
                    <!--&lt;!&ndash;<br>&ndash;&gt;-->
                    <!--&lt;!&ndash;<input ng-model="longitude" placeholder="请输入经度121.443"/>&ndash;&gt;-->
                    <!--&lt;!&ndash;<input ng-model="latitude" placeholder="请输入纬度31.032"/>&ndash;&gt;-->
                    <!--&lt;!&ndash;<br>&ndash;&gt;-->
                    <!--&lt;!&ndash;<img ng-src="{{ {'uu':longitude, 'ii':latitude} |myImageUrl}}"  style="width:20px;height:200px">&ndash;&gt;-->
                    <!--&lt;!&ndash;<br>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</rd-widget-body>-->
        </rd-widget>
    </div>

<!--</div>-->

