<div class="col-xs-12">
    <uib-alert  type="success" >用户管理：包括用户的创建、查询、删除</uib-alert>
</div>
<div class="row">
    <div class="col-lg-12">
        <rd-widget>
            <rd-widget-header icon="fa-tasks"  title="用户查询">
                <button class="btn btn-sm btn-info" style="width: 25%;margin-left: -12%;" ng-click="search()">查询</button>
                <button class="btn btn-sm btn-info" style="width:25%;margin-left: 26%;background-color: transparent;border-color: #d9edf7;color: black;" ng-click="changeView()">{{listMessage}}</button>

            </rd-widget-header>
            <!--<rd-widget-body classes="medium no-padding">-->
                <div class="table-responsive" ng-show="listshow">
                    <table st-table="rowCollection" class="table">
                        <thead>
                        <tr>
                            <th >
                                <input st-search="id" placeholder="用户ID" class="input-sm form-control" type="search"/>
                            </th>
                            <th >
                                <input st-search="username" placeholder="用户名" class="input-sm form-control" type="search"/>
                            </th>
                            <th >
                                <input st-search="phone" placeholder="手机号码" class="input-sm form-control" type="search"/>
                            </th>
                            <th >
                                <input st-search="cartype" placeholder="车辆类型" class="input-sm form-control" type="search"/>
                            </th>
                            <th >
                                <input st-search="carid" placeholder="车辆牌照" class="input-sm form-control" type="search"/>
                            </th>
                            <th colspan="2">
                                <input st-search placeholder="全局搜索" class="input-sm form-control" type="search"/>
                            </th>
                        </tr>
                        <tr>
                            <th style="width: 15%" st-sort = "id">用户ID</th>
                            <th style="width: 15%" st-sort = "username">用户名</th>
                            <th style="width: 15%" st-sort =  "phone">手机号码</th>
                            <th style="width: 15%" st-sort = "cartype">车辆类型</th>
                            <th style="width: 15%" st-sort = "carid">车辆牌照</th>
                            <th style="width: 15%" st-sort = "moeny">账户余额</th>

                            <!--<th>编辑</th>-->
                            <th style="width: 5%">删除</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in rowCollection">
                            <td>{{row.id}}</td>
                            <td>{{row.username}}</td>
                            <td>{{row.phone}}</td>
                            <td>{{row.cartype}}</td>
                            <td>{{row.carid}}</td>
                            <td>{{row.money | currency}}</td>
                            <!--<td><img src="../img/edit.png" ng-click="editUser(row)" style="height:8%"></td>-->
                            <td><span tooltip="删除用户!" class="text-danger" ng-click="deleteUser(row)"><i class="fa fa-warning"></i></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            <!--</rd-widget-body>-->
        </rd-widget>
    </div>

    <div class="col-lg-12">
        <rd-widget>
            <rd-widget-header icon="fa-plus" title="用户新增">
                <a style="margin-left: -5%" href="#/addUser">添加</a>
                <!--<button class="btn btn-sm btn-info" ng-click="">添加</button>-->
            </rd-widget-header>
                    <div class="table-responsive"  ng-controller="UserCtrl">
                        <p>请输入以下信息</p>
                        用 &nbsp;户 &nbsp;名 &nbsp;<input type="text" data-ng-model="create.username" placeholder="请输入用户名">
                        手 &nbsp;机 &nbsp;号 &nbsp;<input type="text" data-ng-model="create.phone" placeholder="请输入手机号">
                        用户密码 &nbsp;<input type="password" data-ng-model="create.password" placeholder="请输入密码"><br><br>
                        汽车型号 &nbsp;<input type="text" data-ng-model="create.cartype" placeholder="请输入汽车型号">
                        汽车牌照 &nbsp;<input type="text" data-ng-model="create.carid" placeholder="请输入牌照"><br><br>
                        <button class="btn btn-sm btn-info" style="margin-left: 24%;width:24%" ng-click="createUser()">创建</button><br>
                    </div>
        </rd-widget>
    </div>
</div>